@using Newtonsoft.Json
@{
    ViewBag.Title = "個人工作記錄";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<link rel="stylesheet" href="~/css/style4.css" />

<div id="app" class="container">
    <div class="d-flex align-items-center">
        <button v-bind:class="isEditing ? 'btn btn-outline-primary me-2' : 'btn btn-primary me-2'"
                v-on:click="toggleEditMode">
            {{isEditing?' 編輯中... ' : ' 編輯 '}}
        </button>
        <div class="flex-grow-1 text-center title">個人工作記錄</div>
    </div>
    <form method="post" action="@Url.Action("WorkLogEdit", new { IsUpdate = ViewBag.IsUpdate })" enctype="multipart/form-data">
        <input type="hidden" name="LOG000" v-model="formData.LOG000" />
        <input type="hidden" name="Mid" v-model="formData.Mid" />
        <input type="hidden" name="LOG008" v-model="formData.LOG008" />
        <input type="hidden" name="LOG009" v-model="formData.LOG009" />

        <div class="row">
            <div class="col-md-4">
                <label for="LOG001" class="form-label">
                    日期<span class="red-text">*</span>
                </label>
                <input type="date" class="form-control" name="LOG001" v-model="formData.LOG001" v-bind:disabled="!isEditing"
                       :min="minDate" :max="maxDate" required />
            </div>

            <div class="col-md-4">
                <label class="form-label">問題是否排除<span class="red-text">*</span></label>
                <select class="form-control" v-model="formData.LOG007" v-bind:disabled="!isEditing" name="LOG007" required>
                    <option :value="true">是</option>
                    <option :value="false">否</option>
                </select>
            </div>


            <div class="col-12">
                <label for="LOG002" class="form-label">工作內容<span class="red-text">*</span></label>
                <textarea class="form-control" name="LOG002" v-model="formData.LOG002" v-bind:disabled="!isEditing" rows="5" required></textarea>
            </div>
            <div class="col-12">
                <label for="LOG003" class="form-label">工作中遇到的問題</label>
                <textarea class="form-control" name="LOG003" v-model="formData.LOG003" v-bind:disabled="!isEditing" rows="5"></textarea>
            </div>
            <div class="col-12">
                <label for="LOG004" class="form-label">備註</label>
                <textarea class="form-control" name="LOG004" v-model="formData.LOG004" v-bind:disabled="!isEditing" rows="5"></textarea>
            </div>
            <div class="col-12">
                <label for="LOG005" class="form-label">明日工作計劃</label>
                <textarea class="form-control" name="LOG005" v-model="formData.LOG005" v-bind:disabled="!isEditing" rows="5"></textarea>
            </div>
            <div class="col-12">
                <label for="LOG006" class="form-label">共同完成人員</label>
                <textarea class="form-control" name="LOG006" v-model="formData.LOG006" v-bind:disabled="!isEditing" rows="5"></textarea>
            </div>
        </div>

        <div class="row mt-4" v-if="isEditing">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary">存檔</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    isEditing: '@ViewBag.IsUpdate' !== 'True',
                    formData: {
                        ...@Html.Raw(JsonConvert.SerializeObject(Model ?? new {}, new JsonSerializerSettings
                        {
                            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                        })),
                        LOG001: '@ViewBag.formattedDate',                        
                    },
                    minDate: this.getMinDate(),
                    maxDate: this.getMaxDate(),
                };
            },
            methods: {
                toggleEditMode() {
                    this.isEditing = !this.isEditing;
                },

                    getMinDate() {
                        const today = new Date();
                        const minDate = new Date(today);
                        minDate.setDate(today.getDate() - 7); 
                        return minDate.toISOString().split('T')[0];
                    },
                    getMaxDate() {
                        const today = new Date();
                        return today.toISOString().split('T')[0]; 

                },

                submitForm() {
                    const isConfirmed = window.confirm("資料是否無誤？");
                    if (isConfirmed) {
                        const form = document.querySelector('form');
                        form.method = "post";  
                        form.submit();
                    }
                }


            },
            mounted() {
                // 確保 LOG007 會有預設值
                if (this.formData.LOG007 === null || this.formData.LOG007 === undefined) {
                    this.formData.LOG007 = false;
                }
            },
            
        });
        app.mount('#app');
    </script>
}
