@using Newtonsoft.Json

@{
    ViewBag.Title = "主管回覆";
    Layout = "~/Views/Shared/_LayoutBusiness.cshtml";
    string currentLang = (string)Session["Culture"] ?? "zh-TW";
}

<style>
    .form-label {
        text-align: left;
        margin-bottom: 5px;
        width: 100%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .form-check {
        text-align: left;
        margin-bottom: 5px;
        width: 100%;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .col-md-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .form-control {
        margin: 0 auto;
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .red-text {
        color: red;
    }
</style>

<div id="app" class="container">
    <div class="d-flex align-items-center">
        <a href="@Url.Action("RecordList", "Business", new {INT000=ViewBag.INT000})" class="btn btn-secondary me-2">
            <img src="~/image/icons/back.png" alt="返回" style="width: 20px; height: 20px;" />
            {{ currentLanguage === 'zh-TW' ? '返回' : 'Back' }}
        </a>
        <button v-bind:class="isEditing ? 'btn btn-outline-primary me-2' : 'btn btn-primary me-2'"
                v-on:click="toggleEditMode">
            {{ currentLanguage === 'zh-TW' ? (isEditing ? '取消編輯' : '編輯') : (isEditing ? 'Cancel' : 'Edit') }}
        </button>
        <div class="flex-grow-1 text-center title">{{ currentLanguage === 'zh-TW' ? '主管回覆' : 'Supervisor Reply' }}</div>
    </div>

    <form v-on:submit.prevent="submitForm" method="post" action="@Url.Action("RecordReply", new { IsUpdate = ViewBag.IsUpdate })">
        <input type="hidden" name="INT999" v-model="formData.INT999" />
        <input type="hidden" name="INT000" v-model="formData.INT000" />

        <div>
            <label for="INT006" class="form-label">{{ currentLanguage === 'zh-TW' ? '回覆內容' : 'Content' }}<span class="red-text">*</span></label>
            <textarea class="form-control" name="INT006" v-model="formData.INT006" v-bind:disabled="!isEditing" rows="10" required></textarea>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">{{ currentLanguage === 'zh-TW' ? '存檔' : 'Save' }}</button>
        </div>
    </form>
</div>

@section Scripts {
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    isEditing: false,
                    currentLanguage: '@currentLang',  // 初始化語言
                    formData: @Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings
                                        {
                                            ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                                        })),
                };
            },
            methods: {
                toggleEditMode() {
                    this.isEditing = !this.isEditing;
                },
                switchLanguage(language) {
                    this.currentLanguage = language;
                },
                submitForm() {
                    const isConfirmed = window.confirm(this.currentLanguage === 'zh-TW' ? "資料是否無誤？" : "Is the data correct?");
                    if (isConfirmed) {
                        const form = document.querySelector('form');
                        form.submit();
                    }
                }
            }
        });
        app.mount('#app');
    </script>
}
